@import url(https://db.onlinewebfonts.com/c/58af16514d95c0d78284e9f275ee75ae?family=ES+Build+TRIAL);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-es-build-trial), sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .primary-btn {
    @apply w-fit rounded-full bg-base-dark px-5 py-[8px] text-base text-base-light disabled:cursor-not-allowed disabled:bg-primary-main/60 sm:px-3;
  }

  .primary-btn-md {
    @apply primary-btn w-full px-4 py-3 text-lg;
  }

  .secondary-btn {
    @apply primary-btn border-2 border-base-dark bg-base-light text-base-dark disabled:cursor-not-allowed disabled:bg-neutral-50/50;
  }
  .secondary-btn-md {
    @apply secondary-btn w-full px-4 py-3 text-lg;
  }
  .section-title {
    @apply text-2xl font-semibold md:text-3xl;
  }
  .section-subtitle {
    @apply text-xl font-semibold md:text-2xl;
  }
  .content-text {
    @apply md:text-lg 2xl:text-xl;
  }
  .tech-badge {
    @apply w-fit whitespace-nowrap rounded-full bg-base-dark px-3 py-1 text-sm font-semibold text-base-light lg:px-4 lg:text-base;
  }
}
