@import url(https://db.onlinewebfonts.com/c/58af16514d95c0d78284e9f275ee75ae?family=ES+Build+TRIAL);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.es-build-trial {
  font-family: "ES Build TRIAL";
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
